body {
    margin: 0;
    font-family: "Futura", Helvetica, sans-serif;
}

:root {
--background-navbar: rgba(255, 150, 4, 0.76);
}

.header {
  background: var(--background-navbar);
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 2;
}

.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid rgb(75, 75, 75);
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #ddd;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}

.animation{
    animation-name: animation;
    animation-delay: 1s;
    animation-duration: 10s;
    background: #ff1ebf;
    animation-iteration-count:3;
  }

  @keyframes animation{
    0%{
      width: 50%;
    }
    100%{
      width: 100%;
    }
  }

.blank{
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0);
}

.top{
    margin-bottom:30px;
}

.banana{
    background-image: url(../banana.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    white-space: nowrap;
    position: relative;
    color:rgb(15, 82, 60);
    font-size: 30px;
    font-family: "Hiragino Mincho ProN";
    width:100%;
    height:70px;
    text-align: center;
}

.banana p{
    margin: 0%;
}

.middle{
    margin: 10px auto;
}


.plo1{
    margin: 0px auto;
    text-align: center;
    font-family: "Hiragino Mincho ProN";
    line-height: 15px;
    color:rgb(204, 49, 189);
}

h2{
    margin: 0px;
}

h3{
    margin: 5px;
}

.border{
    content: '';
    display: inline-block;
    width: 60px;
    height: 5px;
    background-color:rgb(110, 82, 188);
    border-radius: 2px;
}

.plo2{
    display: flex;
    justify-content:start;
    margin: 20px;
}

h2::first-letter{color:aquamarine}

.photo{
    margin: 20px 5%;
    background-image: url(../banana.jpg);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    white-space: nowrap;
    width: 50%;
    height:130px;
}

.plo3{
    margin: 20px 0px;
    font-size: 12px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
}

.plo4{
    white-space: nowrap;
    margin: 20px 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.plo5{
    display: flex;
}

.Self{
    margin: 10px;
    text-align: center;
    background-image: url(../banana.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sel1{
    margin: 0% auto;
    text-align: center;
    font-family: "Hiragino Mincho ProN";
    line-height: 15px;
    color:rgb(204, 49, 189);
}

.sel1-2{
    margin: 20px;
    display: flex;
    justify-content:space-around;
}

.sel1-2 p{
    text-align: center;
    color:brown;
    transform: translate(0,-20%);
    word-break: break-all;
}

.sel2-item{
    background-color:rgba(255,0,0,0.25);
    height: 130px;
    width: 120px;
    border:3px solid; 
    border-color:black;
    transition: .5s;
    cursor: pointer;
}

.sel3-item{
    background-color:rgba(255,0,0,0.25);
    height: 130px;
    width: 120px;
    border:3px solid; 
    border-color:black;
}

.sel4{
    background-color:rgba(255,0,0,0.25);
    height: 130px;
    width: 120px;
    border:3px solid; 
    border-color:black;
}

.sel2:last-of-type {
    margin-bottom: 0;
}

.sel2-item:hover {
    transform: rotateY(360deg);
}

.sel3:last-of-type {
    margin-bottom: 0;
}

.sel3-item:hover {
    transform: translateY(-40px);
}

.vis1{
    margin: 0% auto;
    text-align: center;
    font-family: "Hiragino Mincho ProN";
    line-height: 15px;
    color:rgb(204, 49, 189);
}

.vis2 p{
    margin: 0%;
    text-align: center;
}

.vis2 h1{
    text-align: center;
    color: rgba(22,57,123,0.50);
}

a.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}

iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
  

.bottom{
    margin: 0px auto;
    background-color: #0f8fd8;
}

.bottom h4{
    padding: 10px;
    margin: 0px 40%;
    text-align: center;
    border-style:solid;
    border-color: white;
    border-width:1px 1px;
}

.bottom p{
    margin: 5px;
    text-align: center;
}

.js-fade {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 1s,visibility 1s, transform 1s;
}

.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

@media screen and (max-width: 600px){

    header {
        display: flex;
        background: -moz-linear-gradient(top, #78ff91, #FFF);
        background: -webkit-linear-gradient(top, #FFC778, #FFF);
        background: linear-gradient(to bottom, #78ff81, #FFF);
        color: #ffffff;
    }


    .animation{
        animation-name: animation;
        animation-delay: 1s;
        animation-duration: 10s;
        background: #ff1ebf;
        animation-iteration-count:3;
    }
      
      @keyframes animation{
        0%{
          width: 50%;
        }
        100%{
          width: 100%;
        }
      }
    .portfolio{
        font-size: 15px;
        margin-left: 20px;
    }

    .menu{
        font-size: 10px;
        display: flex;
        justify-content:space-around;
        margin-left:auto;
        margin-top:10px;
    }

    .a{
        padding-right:20px;
    }

    .top{
        margin:20px 0px;
    }

    .banana{
        background-image: url(../banana.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        white-space: nowrap;
        position: relative;
        color:rgb(15, 82, 60);
        font-size: 30px;
        font-family: "Hiragino Mincho ProN";
        width:100%;
        height:70px;
        text-align: center;
    }

    .banana p{
        margin: 0%;
    }

    .middle{
        margin: 10px auto;
    }

    h2::first-letter{color:aquamarine}

    .plo1{
        margin: 0px auto;
        text-align: center;
        font-family: "Hiragino Mincho ProN";
        line-height: 15px;
        color:rgb(204, 49, 189);
    }

    h2{
        margin: 0px;
    }

    h3{
        margin: 5px;
    }

    .border{
        content: '';
        display: inline-block;
        width: 60px;
        height: 5px;
        background-color:rgb(110, 82, 188);
        border-radius: 2px;
    }

    .plo2{
        display: flex;
        justify-content:start;
        flex-direction:column;
        margin: 0px;
    }

    .photo{
        margin: 20px auto;
        background-image: url(../banana.jpg);
        background-repeat: no-repeat;
        background-size: 70% 100%;
        white-space: nowrap;
        width: 50%;
        height:130px;
    }

    .plo3{
        margin: 20px 0px;
        font-size: 12px;
        text-align: end;
        font-family: Arial, Helvetica, sans-serif;
    }

    .plo4{
        white-space: nowrap;
        margin: 20px 10px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .plo5{
        display: flex;
        margin: 10px auto;
    }

    .Self{
        margin: 10px;
        text-align: center;
        background-image: url(../banana.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .sel1{
        margin: 0% auto;
        text-align: center;
        font-family: "Hiragino Mincho ProN";
        line-height: 15px;
        color:rgb(204, 49, 189);
    }

    .sel1-2{
        margin: 20px;
        display: flex;
        flex-direction:column;
        justify-content:space-around;
    }

    .sel1-2 p{
        text-align: center;
        color:brown;
        transform: translate(0,-20%);
        word-break: break-all;
    }

    .sel2{
        margin: 20px auto;
        background-color:rgba(255,0,0,0.25);
        height: 130px;
        width: 120px;
        border:3px solid; 
        border-color:black;
    }

    .sel3{
        margin: 20px auto;
        background-color:rgba(255,0,0,0.25);
        height: 130px;
        width: 120px;
        border:3px solid; 
        border-color:black;
    }

    .sel4{
        margin: 20px auto;
        background-color:rgba(255,0,0,0.25);
        height: 130px;
        width: 120px;
        border:3px solid; 
        border-color:black;
    }

    .vis1{
        margin: 0% auto;
        text-align: center;
        font-family: "Hiragino Mincho ProN";
        line-height: 15px;
        color:rgb(204, 49, 189);
    }

    .vis2 p{
        margin: 0%;
        text-align: center;
    }

    .vis2 h1{
        text-align: center;
        color: rgba(22,57,123,0.50);
    }

    a.anchor{
        display: block;
        padding-top: 70px;
        margin-top: -70px;
    }

    a:visited {
        color: #00fef1;
    }

    a:hover {
        color: #ff0000;
    }

    iframe{
        width: 100%;
        aspect-ratio: 16/9;
    }
      
    .bottom{
        margin: 0px auto;
        background-color: #d80fd5;
    }

    .bottom h4{
        padding: 10px;
        margin: 0px 40%;
        text-align: center;
        border-style:solid;
        border-color: white;
        border-width:1px 1px;
    }

    .bottom p{
        margin: 5px;
        text-align: center;
    }

    .js-fade {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: opacity 1s,visibility 1s, transform 1s;
    }
    
    .scroll {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

}